@font-face {
	font-family: "arial";
	src: url('./fonts/Natalisa.otf');
}

header {
	background-color: #17202a;
	color: white;
}

header > .title {
	font-family: "arial";
}

p {
	font-family: "arial";
	font-size: 12px;
}

.services {
	padding-top: 5vh;
	padding-top: 5vh;
}

.about {
	margin-top: 5vh;
	margin-bottom: 5vh;
	background-color: : #b3b6b7;
}


.text-justify {
	text-align: justify;
	margin: 5vw;
}

.w-100 {
	width: 100%;
}

.flex-row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.flex-around {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}