:root {
	/** paleta de color */
	--color-1: #c3b7b1;
	--color-2: #1c232f;
	--color-3: #4fa7bf;
	--color-4: #727781;
	--color-5: #6e72c7;
	--color-6: #6b574e;
	--color-7: #434955;
	--color-8: #535c62;
	--color-9: #443530;
	--base-color: #222a35;

	/* color de titulos */
	--title-color: #fff;
}

/** FUENTES */
/* Montserrat */
@font-face {
	font-family: 'Montserrat';
	src: url(fonts/Montserrat/static/Montserrat-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url(fonts/Montserrat/static/Montserrat-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url(fonts/Montserrat/static/Montserrat-Italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

/** Lora */
@font-face {
	font-family: 'Lora';
	src: url(fonts/Lora/static/Lora-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url(fonts/Lora/static/Lora-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url(fonts/Lora/static/Lora-Italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Bosteem';
	src: url('fonts/Hathem Bosteem/Hathem Bosteem.ttf') format('truetype');
}

body {
	background-color: var(--color-2);
	margin: 0;
	padding: 0;
}


* {
	color: var(--title-color);
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Montserrat';
}

p, span, div {
	font-family: 'Lora';
}

p {
	font-size: 1.1rem;
	line-height: 24px;
}

header, nav, main.background {
	background-color: var(--base-color);
}

main.background {
	max-width: 100% !important;
}

/** clases globales */
.primary-button {
	border: none;
	outline: none;
	background-color: var(--color-3);
	color: var(--title-color);
	font-size: 1rem;
	padding: 10px 20px;
	display: inline-block;
	transition: all 0.3s;
	text-decoration: none;
}

.primary-button:hover {
	background-color: var(--color-5);
}

.avatar {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.signature {
	font-family: 'Bosteem';
}

/* nav */
nav .wrapper {
	max-width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 0; 
}

@media screen and (max-width: 830px) {
	nav .wrapper {
		margin-left: 20px;
		margin-right: 20px;
	}
}

nav i {
	font-size: 1.5rem;
	cursor: pointer;
}

/* barra lateral **/
nav aside {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--color-7);
	overflow-x: hidden;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav aside a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	font-size: 1.2rem;
	transition: all 0.3s;
}

nav aside a:not(.closebtn):hover {
	background-color: var(--color-5);
	color: var(--title-color);
}

nav aside a:not(.closebtn) {
	width: 100%;
}

nav aside a.closebtn {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 3rem;
	padding: 0;
	cursor: pointer;
}

nav aside figure {
	margin-top: 60px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav aside figure figcaption {
	margin-top: 20px;
	font-size: 0.8rem;
	font-style: italic;
	text-align: center;
	line-height: 20px;
}

/* header */
header {
	padding: 60px 0;
}

@media screen and (max-width: 576px) {
	header {
		padding-top: 0; 
	}	
}


header .wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 80%;
	margin: 0 auto; 
}

@media screen and (max-width: 576px) {
	header .wrapper {
		display: flex;
		flex-wrap: wrap; 
	}	
}

header .wrapper > div:last-child {
	display: flex;
	justify-content: flex-end;
}

@media screen and (min-width: 577px) and (max-width: 830px) {
	header .wrapper > div:last-child img {
		max-height: 250px;
		max-width: 250px;
	}
}


@media screen and (max-width: 576px) {
	header .wrapper > div:last-child img {
		width: 100%;
	}
}


@media screen and (max-width: 576px) {
	header .wrapper > div:first-child {
		order: 1;
		margin-left: 15px;
		margin-right: 15px;
	}
}

header .primary-button {
	margin-top: 20px;
}

header .social-container {
	margin-top: 10px;
}

header .social-container a {
	margin-right: 5px;
	color: var(--title-color);
	text-decoration: none;
	font-size: 1.5rem;
}

/* main */
main {
	max-width: 80%;
	margin: 0 auto;
}

main section {
	padding: 40px 0;
}

/* seccion acerca */
main section:first-child h2 {
	font-size: 2rem;
}

main section:first-child .grid-about {
	display: grid;
	grid-template-columns: 35% 65%;
}

@media screen and (min-width: 577px) and (max-width: 830px) {
	main section:first-child .grid-about {
		grid-template-columns: 25% 75%;
	}
}

@media screen and (max-width: 576px) {
	main section:first-child .grid-about {
		grid-template-columns: 100%;
		grid-template-rows: repeat(2, auto);
	}
}

main section:first-child .grid-about > div:first-child {
	display: flex;
	flex-direction: column;
	align-items: end;
	padding-top: 40px;
}

@media screen and (max-width: 576px) {	
	main section:first-child .grid-about > div:first-child {
		flex-direction: row;
		align-items: end;
		padding-top: 0;
		justify-content: space-between;
		margin-bottom: 20px;	
	}
}

main section:first-child .grid-about > div:last-child {
	border-left: 1px solid var(--color-8);
}

@media screen and (max-width: 576px) {	
	main section:first-child .grid-about > div:last-child {
		border-top: 1px solid var(--color-8);
		border-left: none;		
	}
}

main section:first-child .grid-about > div {
	padding: 0 30px;
}

main section:first-child .title-about {
	text-align: right;
	margin-top: 10px;
}

main section:first-child .grid-about > div:first-child i {
	font-size: 2rem;
	display: block;
	text-align: right;
}

main section:first-child .grid-about > div:first-child i.space {
	margin-top: 20px;
}


main section:first-child .title-about span {
	font-family: 'Montserrat';
	font-size: 2rem;
}

/** seccion servicios */
main #services {
	max-width: 80%;
	margin: 0 auto;
}

main #services .grid-services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 20px;
}

@media screen and (max-width: 576px) {
	main #services .grid-services {
		grid-template-columns: 100%;
		grid-template-rows: repeat(6, auto);
	}
}

@media screen and (min-width: 577px) and (max-width: 830px) {
	main #services .grid-services {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
	}
}

main #services .grid-services .card {
	border-radius: 5px;
	background: var(--color-2);
	padding: 30px 25px;
}

main #services .grid-services .card i {
	font-size: 2rem;
	transition: all 0.3s;
}

main #services .grid-services .card h4 {
	transition: all 0.3s;
}

main #services .grid-services .card:hover i,
main #services .grid-services .card:hover h4 {
	color: var(--color-3);
}

main #services .grid-services .card p {
	font-size: 1rem;
}
