/* @font-face {
	font-family: "arial";
	src: url('./fonts/Natalisa.otf');
}*/ 

header {
	background-color: #17202a;
	color: white;
}

header>.title {
	font-family: "arial";
}

p {
	font-family: "arial";
	font-size: 14px;
}

.services {
	margin-top: 15vh;
	margin-bottom: 15vh;
}

.about {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.text-justify {
	text-align: justify;
	margin: 3vw;
}

.w-100 {
	width: 100%;
}

.flex-row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.flex-around {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.competencies {
	background-color: #17202a;
	color: white;
	margin-bottom: 8vh;
}

.competencies h3 {
	margin-top: 5vw;
}

.competencies li {
	color: black;
	font-family: "arial";
	font-size: 12px;
}

.card {
	margin: 5vw;
	background: white;
	color: black;
}

.pb-2 {
	padding-bottom: 15px;
}

.italic {
	font-style: italic;
}

.portafolio {
	background-color: #17202a;
	color: white;
	padding: 15px 30px 15px 30px; 
}

.subtitle {
	text-decoration: underline;
}

.w3-modal p {
	color: black;
}

.padding-modal {
	padding-top: 20px;
	padding-bottom: 20px;
}

#tbody>tr {
	background-color: white;
	color: black;
}

.header-modal {
	background: lightgray;
	color: black;
}

.point {
	cursor: pointer;
}

.portafolio ul li {
	font-size: 13px;

}
.portafolio .user {
	margin-left: 30vw;
	margin-right: 30vw;
	border-radius: 10px;
}

.portafolio .user span {
	font-weight: bold;
}

.portafolio .justify {
	text-align: justify;
}

.frase {
	margin-left: 10vw;
	margin-right: 10vw;
}
