/*
    Version 1.0
    Estilos CSS
    Autor: Gabriel Martínez
*/

body {
    font-size: 100%;
    background-color: whitesmoke;
    font-family: "URW Gothic L", "Century Gothic";
    margin: 0; /*Sin márgenes*/
}

header {
    border: 1px solid black;
}

header > div {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    text-align: center;  
}

h2 {
    font-size: 1.875em;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    font-size: 1em;
    text-align: justify;
    line-height: 1.5em;
}

ul > li {
    font-size: 1em;
    line-height: 1.5em;
}

figure {
    text-align: center;
}

figure > figcaption {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

figure > img {
    border-radius: 160px;
    height: 200px;
    width: 200px;
}

/*Seccion servicios*/
#servicios div {
    padding-bottom: 25px;
    padding-top: 25px;
    border: 1px solid black;
}

#servicios p {
    margin-left: 25px;
    margin-right: 25px;
}

#portafolio div {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid black;
}

#portafolio article {
    margin-left: 25px;
    margin-right: 25px;
}

#habilidades div {
    padding-bottom: 25px;
    padding-top: 25px;
    border: 1px solid black;
}

#habilidades article {
    margin-left: 25px;
    margin-right: 25px;
}

#acerca div {
    padding-bottom: 10px;
    padding-top: 10px; 
    border: 1px solid black;
}

#acerca p {
    margin-top: 50px;
}

#contacto > div {
    border: 1px solid black;
}

button {
    background-color: white;
    border: none;
    color: black;
    border: 2px solid #f44336;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

button:hover {
    background-color: #f44336;
    color: white;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
}

footer {
    border: 1px solid black;
}

footer p {
    text-align: center;
}

/*Media queries > 900px*/
@media screen and (min-width: 900px) {
    section div {
        margin-left: 25%;
    }

    section article p {
        margin-left: 20px;
        margin-right: 20px;
    }

    header {
        margin-left: 25%;
    }

    footer {
        margin-left: 25%; 
        
    }
}

/*Media queries 600 a 899px*/
@media screen and (min-width: 600px) and (max-width: 899px) {
    
}


