@media screen and (min-width: 600px) {

    .d-sm-block {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
    }

    .d-xs-block {
        display: none;
    }

    .separator {
        padding-top: 7vh;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #212121;
        
        /*Fixed top
        position: fixed;
        top: 0;
        width: 100%; */
    }
    
    nav li {
        float: left;
    }
    
    nav li a  {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 22px;
        text-decoration: none;
        transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
    }
    
    nav li a:hover:not(.active) {
        background-color: lightgray;
        color: black;
    }
    
    .active {
        background-color: #6993b8;
    }

    nav li:last-child {
        float: right;
    }

    .mt-4 {
        margin-top: 30px; 
    }
}

/*Media queries   600px < 899px*/
@media screen and (min-height: 350px) and (max-width: 599px) 
{

    .separator {
        padding-top: 4vh;
    }


    .d-sm-block {
        display: none;
    }

    .d-xs-block {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
    }

    nav ul 
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #212121;
    }

    nav li 
    {
        float: none;
    }

    nav a 
    {
        display: block;
        color: white;
        text-align: center;
        padding: 16px 18px;
        text-decoration: none;
    }

    .active {
        background-color: #6993b8;
    }
    
    nav li a:hover:not(.active) 
    {
        background-color: #111;
    }

    .text-justify {
        text-align: justify;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .portafolio .user {
        margin: 0;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px; 
    }

    .img {
        max-width: 100%;
    }

    .card {
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .fa-3x {
        font-size: 2em;
    }

    .mb-res {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ajuste {
        margin-top: 4vh;
    }

    .flex-between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-brand {
        color: white;
        margin-left: 5vw;
    }
    canvas {
        margin-bottom: 20px;
    }
}
